@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    line-height: 1.5;
    font-size: 100%;
    background-image: url(../img/bg.webp);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
}

header,
section {
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    margin: 14px 0;
    font-weight: bold;
    font-variant: small-caps;
    color: #fff;

    background: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    border-radius: 10px
}

h2 {
    font-size: 32px;
    color: #878787;
    padding: 0 10px;
}

p {
    font-size: 20px;
    color: rgb(195 195 195);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.pad5 {
    padding-top: 5px;
}

.pad15 {
    padding-top: 15px;
}

.pad20 {
    padding-top: 20px;
}

section p {
    padding: 16px 10px;
}

/* *********** form ************ */
form {
    margin-top: 100px;
}

.form {
    text-align: left;
    width: 360px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    border-radius: 18px;
    background: #808eb9;
    padding: 20px;
    box-shadow: 5px 5px 5px #001d24;
}

legend {
    font-size: 30px;
    padding: 15px 10px;
    font-weight: bold;
    font-variant: small-caps;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    padding: 10px 10px;
    font-size: 20px;
}

.pw {
    text-align: left;
    padding: 10px 10px;
}

input {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    border: 0px;
    height: 25px;
    font-size: 15px;
    border: 1px solid black;
}

.shadow {
    box-shadow: 2px 2px 2px #001d24;
}

a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.account a:hover,
a:hover {
    color: #ffffff;
}

button {
    display: block;
    padding: 15px;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    width: 90%;
    height: 60px;
    margin: 20px auto;
    filter: drop-shadow(0 0 30px rgb(0, 0, 0));
    color: #fff;
    background-color: #e72929;
    font-family: 'Oswald', sans-serif;
}


button:hover {
    color: #e72929;
    background-color: #fff;
}

.checkbox {
    width: 15px;
    height: 30px;
    margin: 23px;
    margin: 0;
    vertical-align: bottom;
    margin-right: 20px;
}

.account {
    margin-bottom: 50px;
}

.account a,
.pw {
    color: #901a1a;
}

.account a:hover {
    color: #ffffff;
}

.white {
    color: #fff;
}

.sign-in {
    margin-left: 18px;
}

.keep {
    padding: 20px 0 20px 0;

}

.mg {
    margin: 10px;
}

/* ************** footer *************** */
footer li {
    display: inline;
}


/** Mobile device **/
@media screen and (max-width: 50rem) {


    body {
        text-align: center;
        margin: 0 auto;
        overflow-x: hidden;
    }

    h1 {
        font-size: 30px;
        margin: 24px 0;
    }

    h2 {
        font-size: 20px;
    }

    form {
        margin: 0px;
    }

    .form {
        width: 100%;
    }

    input {
        width: 80%;
    }

    label {
        font-size: 15px;
    }

    .pad20 {
        padding: 20px;
    }

}

@media screen and (min-width: 70rem) {

    header,
    section {
        width: 960px;
    }


    button {
        font-size: 20px;
    }
}