body {
    line-height: 1.5;
    font-size: 100%;
    background: #ecf3f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../img/bg-01.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

header,
section {
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin: 24px 0;
}

h2 {
    font-size: 32px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.pad5 {
    padding-top: 5px;
}

.pad15 {
    padding-top: 15px;
}

/* *********** form ************ */
form {
    margin: 48px;
}

.form {
    text-align: left;
    width: 422px;
    margin: 0 auto;
    border: 3px solid #5f5f6f;
    border-radius: 30px;
    background: #808eb9;
    padding: 20px;
    box-shadow: 5px 5px 5px #001d24;
}




legend {
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

label {
    padding: 10px 0;
    font-size: 20px;
}

.pw {
    text-align: left;
    padding: 10px 0;
}

input {
    padding: 5px;
    width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    height: 28px;
}

button {
    display: block;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 188px;
    margin: 20px auto;
}

a:hover {
    color: #000b0e
}

button:hover {
    background-color: #2b879e;
}

.checkbox {
    width: 15px;
    height: 30px;
    margin: 23px;
    margin: 0;
    vertical-align: bottom;
}

.account {
    padding: 10px 0;
}

.white {
    color: #fff;
}

/* ************** footer *************** */
footer li {
    display: inline;
}


/** Mobile device **/
@media screen and (max-width: 50rem) {


    body {
        text-align: center;
        margin: 0 auto;
        overflow-x: hidden;
    }

    h1 {
        font-size: 30px;
        margin: 24px 0;
    }

    h2 {
        font-size: 20px;
    }

    form {
        margin: 0px;
    }

    .form {
        width: 240px;
    }

    input {
        width: 200px;
    }

    label {
        font-size: 15px;
    }

    .pad20 {
        padding: 20px;
    }
}

@media screen and (min-width: 70rem) {

    header,
    section {
        width: 960px;
    }
}